

@media screen and (max-width: 1200px){
	.backgroundHome{
		height: 98% !important;
	}
}

@media screen and (max-width: 517px){

	.backgroundHome{
		height: 98.5% !important;
	}
	.nav-topmost{
		height: 97px !important;
	}

	#homepage, #plotChart{
	    top: 47px;
	    left: -155px;
	    position: relative;
	}
	#aboutId{
	    left: -90px;
	    position: relative;
	}
	#contactId{
		top: 47px;
	    position: relative;
	}
}

@media screen and (max-width: 440px){

	#aboutId{
		left: 0;
	    position: relative;
	}
	#contactId{
		top: 0;
	    position: relative;
	}
}

@media screen and (max-width: 360px){

	.nav > li > a{
		padding: 10px 4px;
	}
}